*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }
/*
.debug{
    background-color: #DAA521;
    border: 1px solid black;
}
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
    
header{
  background-color: #3161E0;
  padding: 30px 0 0 0;
  }

.contenitore-header{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.logo img{
    height: 40px;
}

.logo{
    width: 20%;
  }


.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
}

.login{
    text-align: right;
    width: 20%;
    font-size: 17px;
}

.login .pulsante{
    display: inline-block;
    padding: 12px 17px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

.container-jumbo{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 45%;
    background-color: none;
    margin-bottom: 80px;
    color: white;
    justify-content: space-evenly;
    padding-top: 80px;
}


.titolo-grande{
    font-size: 67px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.contenuto-jumbo{
    display: flex;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    justify-content: center;
}

.bottoni{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.scarica{
    display: inline-block;
    padding: 20px 40px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    font-size: 24px;
}

.apri{
    display: inline-block;
    padding: 20px 40px;
    background-color: #23272A;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    font-size: 24px;
}

.bianco{
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: white;
    justify-content: center;
    align-content: center;
    border: transparent;
}
.grigio{
    display: flex;
    flex-wrap: wrap;
    background-color: #D3D3D3;
    justify-content: center;
    align-content: center;
    border: transparent;
}
.container-base{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}
/*
.container-base2{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around ;
}
*/
.container1{
    display: flex;
    flex-wrap: wrap;
    
    width: 70%;
    padding: 150px 0;
    border: 2px dashed black;
}

.container1 img{
    display: flex;
    height: 90%;
    background-size: cover;
    width: 90%;
}


.container2{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 190px 0;
    border: 2px dashed black;
}

.grigio2{
    display: flex;
    flex-wrap: wrap;
    background-color: #D3D3D3;
    height: 1045px;
    justify-content: center;
    align-content: center;
    border: transparent;
}

.titolo-grande2{
    font-size: 57px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 25px;
}

.contenuto-box{
    display: flex;
    font-size: 24px;
    text-align: left;
    line-height: 35px;
    justify-content: center; 
}

.box-verde{
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
    height: 935px;
    background-color: #238B23;
    border: 2px dashed black;
}

.nero1{
    display: flex;
    background-color: #23272A;
    height: 660px;
    justify-content: center;
}

.box-base{
    display: flex;
    width: 1250px;
    height: 600px;
    margin-top: 10px;
}

.box1{
    display: flex;
    width: 30%;
    background-color: #F18080;
    border: 2px dashed black;
}
.box2{
    display: flex;
    width: 17.5%;
    background-color: #1FB3AB;
    border: 2px dashed white;
}
.box3{
    display: flex;
    width: 17.5%;
    background-color: #1FB3AB;
    border: 2px dashed white;
}
.box4{
    display: flex;
    width: 17.5%;
    background-color: #1FB3AB;
    border: 2px dashed white;
}
.box5{
    display: flex;
    width: 17.5%;
    background-color: #1FB3AB;
    border: 2px dashed white;
}
hr{
    color: white;
}

.nero2{
    display: flex;
    background-color: #23272A;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    height: 115px;
}

.box-base1{
    display: flex;
    width: 1250px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #7FFFD5;
}

.logo-footer{
    display: flex;
    font-size: 21px;
    padding:  4px 10px 4px 10px;
    background-color: #FFB6C2;
    border: 2px dashed black;
}

.bottone{
    display: flex;
    font-size: 21px;
    padding:  4px 10px 4px 10px;
    background-color: #FFB6C2;
    border: 2px dashed black;
}

