*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }
/*
.debug{
    background-color: #DAA521;
    border: 1px solid black;
}
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
    
header{
  background-color: #265EE9;
  padding: 30px 0 0 0;
  }

.contenitore-header{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.logo img{
    height: 40px;
}

.logo{
    width: 20%;
  }


.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
}

.login{
    text-align: right;
    width: 20%;
    font-size: 17px;
}

.login .pulsante{
    display: inline-block;
    padding: 12px 17px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

.container-jumbo{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 45%;
    background-color: none;
    margin-bottom: 80px;
    color: white;
    justify-content: space-evenly;
    padding-top: 80px;
}


.titolo-grande{
    font-size: 67px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.contenuto-jumbo{
    display: flex;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.bottoni{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.scarica{
    display: inline-block;
    padding: 20px 40px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    font-size: 24px;
}

.fa-sharp{
    font-size: 20px;
}

.apri{
    display: inline-block;
    padding: 20px 40px;
    background-color: #23272A;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    font-size: 24px;
}

.bianco{
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: white;
    justify-content: center;
    align-content: center;
    border: transparent;
}
.grigio{
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    justify-content: center;
    align-content: center;
    border: transparent;
}
.container-base{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*
.container-base2{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around ;
}
*/
.container1{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 150px 0;
    border: 2px dashed black;
}

.container1 img{
    display: flex;
    background-size: cover;
    width: 90%;
}


.container2{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 200px 0;
    border: 2px dashed black;
}

.grigio2{
    display: flex;
    flex-wrap: wrap;
    height: 1260px;
    background-color: #F6F6F6;
    justify-content: center;
    align-content: center;
    border: transparent;
}

.titolo-grande2{
    font-size: 57px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 20px;
}

.contenuto-box{
    display: flex;
    font-size: 23px;
    text-align: left;
    line-height: 35px;
    justify-content: center; 
}

.box-tecno{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    width: 70%;
    
    border: 2px dashed black;
}

.tecno-text .tecnologia{
    font-size: 57px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}

.tecno-text .cont-tecno{
    text-align: center;
    font-size: 23px;
    margin: 10px 100px 10px 100px;
}

.tecno-img{
    text-align: center;
}

.avventura{
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top;
    padding: 50px 50px;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
}

.scarica-viola{
    text-align: center;
    margin-bottom: 150px;
}

.scarica-viola .scarica{

    display: inline-block;
    padding: 20px 40px;
    background-color: #8EA2E1;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    font-size: 24px;
}

.nero1{
    display: flex;
    background-color: #23272A;
    justify-content: center;
}

.box-base{
    display: flex;
    width: 70%;
    padding-top: 100px;
    margin-bottom: 60px;
    border-bottom: 1px solid #728ADA;
}

a{
    color: white;
    text-decoration: none;
    line-height: 40px;
}

ul{
    list-style: none;
}

.titolo-viola{
    font-size: 35px;
    font-weight: bold;
    color: #728ADA;
    padding-bottom: 30px;
}

#ita{
    width: 10%;
    height: 10%;
}

#icon-space{
    margin-right: 20px;
}

a #icon-space{
    font-size: 1.5rem;
}

#testo-viola{
    color: #728ADA;
}

.lista-piccola a{
    font-size: 1.2rem;
}

.box1{
    display: flex;
    width: 30%;
    padding-right: 160px;
}
.box2{
    display: flex;
    width: 17.5%;
}
.box3{
    display: flex;
    width: 17.5%;
}
.box4{
    display: flex;
    width: 17.5%;
}
.box5{
    display: flex;
    width: 17.5%;
}
hr{
    color: white;
}

.nero2{
    display: flex;
    background-color: #23272A;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    height: 115px;
}

.box-base1{
    display: flex;
    width: 1250px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #7FFFD5;
}

.logo-footer{
    display: flex;
    font-size: 21px;
    padding:  4px 10px 4px 10px;
    background-color: #FFB6C2;
    border: 2px dashed black;
}

.bottone{
    display: flex;
    font-size: 21px;
    padding:  4px 10px 4px 10px;
    background-color: #FFB6C2;
    border: 2px dashed black;
}

